body{
    background: white;
}
header{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin: 1px;
    padding: 1%;
}

img{
    background-position: center;
    width: 100%;
    height: 300px;
    margin: 1%;
    padding: -1%;
}

#section-b {
    display: grid;
    padding: 2em 1em 1em;
  }

  #section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #section-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
  }

  .card-content {
    padding: 1.5em;
  }
  